<header class="navbar navbar-fixed-top" id="main-navbar">
    <div class="navbar-inner">
        <div class="container">
            <a class="logo" href="/"><strong>RPThreadTracker</strong></a>
            <a class="btn nav-button collapsed" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-reorder"></span>
            </a>

            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li ng-class="{active: vm.pageId=='about'}"><a href="/about">About</a></li>
                    <li ng-class="{active: vm.pageId=='contact'}"><a href="/contact">Contact</a></li>
                    <li ng-class="{active: vm.pageId=='help'}"><a href="/help">Help</a></li>
                    <li class="divider-vertical"></li>
                    <li ng-hide="vm.publicView || vm.blogs.length == 0"><a href="/add-thread">Track New Thread</a></li>
                    <li ng-hide="vm.publicView"><a href="/manage-blogs">Manage Blogs</a></li>
                    <li ng-show="vm.loading" class="loading-icon"><img src="/application/images/loading.gif"/></li>
                </ul>
                <ul class="nav pull-right">
                    <li class="dropdown" ng-show="vm.user">
                        <a href="/manage-account" class="dropdown-toggle usermenu" data-toggle="dropdown">
                            <img alt="Avatar" src="/application/images/avatar.png">
                            <span>&nbsp;&nbsp;{{vm.user.UserName}}</span>
                        </a>
                    </li>
                    <li class="separator"></li>
                    <li ng-show="vm.user">
                        <a href="/logout">Log Out</a>
                    </li>
                    <li ng-hide="vm.user">
                        <a href="/login">Log In</a>
                    </li>
                    <li class="separator" ng-hide="vm.user"></li>
                    <li ng-hide="vm.user">
                        <a href="/register">Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--<div class="alert alert-error slide" id="news-alert-bar" role="alert" ng-cloak>
        <strong>BREAKING: </strong>
        <a target="_blank" href="http://tblrthreadtracker.tumblr.com">
            Due to Tumblr changes, the tracker is temporarily broken. I'm actively working with Tumblr Support to resolve the issue. Click here to view latest updates on the tracker blog.
            <span class="icon-circle-arrow-right" aria-hidden="true"></span>
        </a>
        <span class="dismiss icon-remove" aria-hidden="true" ng-click="registerAlertDismissal()"></span>
    </div>-->
</header>
