*/bin
*/obj
packages/*
Help/*
*.suo
*.bak
*.orig
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*.DotSettings*
RPThreadTracker/App_Data/RPThreadTracker.mdf
RPThreadTracker/App_Data/RPThreadTracker_log.ldf
packages/*
RPThreadTracker/application/node_modules/*
npm-debug.log
