*/bin
*/obj
packages/*
*.suo
*.bak
*.orig
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*.DotSettings*
TumblrThreadTracker/App_Data/TumblrThreadTracker.mdf
TumblrThreadTracker/App_Data/TumblrThreadTracker_log.ldf
packages/*
