**/bin
**/obj
packages/*
Help/*
*.suo
*.bak
*.orig
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*.DotSettings*
RPThreadTracker/App_Data/RPThreadTracker.mdf
RPThreadTracker/App_Data/RPThreadTracker_log.ldf
RPThreadTracker/App_Data/*
packages/*
RPThreadTracker/application/node_modules/*
npm-debug.log
OpenCover/*
RPThreadTrackerTests/Reports/*
RPThreadTrackerTests/TestResult.xml
RPThreadTrackerTests/results.xml
.vscode/*
RPThreadTracker/Web.secureAppSettings.config
RPThreadTracker-v3-FrontEnd/*
static redesign/*
