<header class="navbar navbar-fixed-top" id="main-navbar">
    <div class="navbar-inner">
        <div class="container">
            <a class="logo" href="/"><strong>RPThreadTracker</strong></a>
            <a class="btn nav-button collapsed" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-reorder"></span>
            </a>

            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li ng-class="{active: pageId=='about'}"><a href="/about">About</a></li>
                    <li ng-class="{active: pageId=='contact'}"><a href="/contact">Contact</a></li>
                    <li ng-class="{active: pageId=='help'}"><a href="/help">Help</a></li>
                    <li class="divider-vertical"></li>
                    <li ng-hide="publicView || blogs.length == 0"><a href="/add-thread">Track New Thread</a></li>
                    <li ng-hide="publicView"><a href="/manage-blogs">Manage Blogs</a></li>
                    <li ng-show="loading" class="loading-icon"><img src="/application/images/loading.gif"/></li>
                </ul>
                <ul class="nav pull-right">
                    <li class="dropdown" ng-show="user">
                        <a href="/manage-account" class="dropdown-toggle usermenu" data-toggle="dropdown">
                            <img alt="Avatar" src="/application/images/avatar.png">
                            <span>&nbsp;&nbsp;{{user.UserName}}</span>
                        </a>
                    </li>
                    <li class="separator"></li>
                    <li ng-show="user">
                        <a href="/logout">Log Out</a>
                    </li>
                    <li ng-hide="user">
                        <a href="/login">Log In</a>
                    </li>
                    <li class="separator" ng-hide="user"></li>
                    <li ng-hide="user">
                        <a href="/register">Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>