@{
    ViewBag.Title = "Site Down";
    Layout = null;
}

<h2>RP Thread Tracker is currently offline while we release our updated version. 
    We expect to be online again by approximately 11:00 PM Central Daylight Time (GMT-5).
</h2>
<h3>Thank you for your patience. Please watch <a href="http://tblrthreadtracker.tumblr.com">tblrthreadtracker.tumblr.com</a> for updates.</h3>
