@{
    Layout = null;
}

@Html.Partial("_Head")
<ul>
    <li ng-click="setCurrentBlog()" ng-class="{'selected': currentBlog == null}"><a href="#">All Blogs</a></li>
    <li ng-cloak ng-repeat="blog in blogs" ng-click="setCurrentBlog(blog.BlogShortname, blog.UserBlogId)" ng-class="{'selected': currentBlog == blog.BlogShortname}"><a href="#">{{blog.BlogShortname}}</a></li>
</ul>
<form ng-cloak action="/Home/ConnectBlog" method="POST" ng-show="showNewBlogForm">
    <p>Enter the shortname of your blog below to connect it to your account.<br />
        <em>The shortname is the part of the URL before "tumblr.com", i.e. http://<strong>shortname</strong>.tumblr.com.</em>
    </p>
    <input type="text" name="BlogShortname" value="" placeholder="Blog Shortname"/> <input type="submit" class="btn btn-primary" value="Submit" />
</form>
<a class="blogControl" href="#" id="addBlog" ng-click="showNewBlogForm = !showNewBlogForm">Add a blog</a>
<a class="blogControl" href="/Home/RemoveBlog?userBlogId={{currentBlogId}}" id="deleteBlog" ng-hide="currentBlog == null">Delete {{currentBlog}}</a>
<p>Curious about the "Poster Not Found" message? <a href="http://tblrthreadtracker.tumblr.com/post/81543993047/i-keep-getting-a-last-poster-not-found-error-in">Check out our news blog</a> for info.</p>
</div>
<div id="content" class="col-md-9 col-md-offset-3">
    <header class="row">
        <div id="account">
            @Html.Partial("_LoginPartial")
        </div>
        <div id="controls" class="btn-group">
            <a href="#" class="btn controlButton" ng-class="{'selected': currentTurn == null}" id="allThreads" ng-click="setCurrentTurn()">All Threads</a>
            <a href="#" class="btn controlButton" ng-class="{'selected': currentTurn == 'true'}" id="myTurn" ng-click="setCurrentTurn('true')">My Turn</a>
            <a href="#" class="btn controlButton" ng-class="{'selected': currentTurn == 'false'}" id="theirTurn" ng-click="setCurrentTurn('false')">Their Turn</a>
        </div>
        <a class="btn btn-primary" href="#" id="newThread" ng-click="openNewThread()" ng-show="blogs.length > 0">Add a New Thread</a>
        <div class='clearfix'></div>
    </header>
    <nav class="row">
        <select ng-model="orderBy" name="orderBy">
            <option value="">Sort by...</option>
            <option value="userTitle">Thread Title</option>
            <option value="lastPostDate">Last Post Date</option>
            <option value="lastPosterShortname">Last Poster</option>
        </select>
        <select ng-model="orderReverse" ng-show="orderBy != ''">
            <option value="true">Descending</option>
            <option value="false">Ascending</option>
        </select>
        <a href="#" id="refreshLink" ng-click="init()">Refresh</a>
        <div id="search">
            <label for="filterSearch">Search: </label> <input type="text" name="filterSearch" ng-model="filterSearch" />
        </div>
    </nav>
    <div id="threads">
        <span ng-show="blogs.length == 0 && !loading">You have not yet added any blogs.</span>
        <div class="thread" ng-cloak ng-repeat="thread in threads | filter:filterSearch | isCorrectBlog:currentBlog | isCorrectTurn:currentTurn | orderBy:setOrderBy:orderReverse">
            <div class="links">
                <a href="/Home/UntrackThread?postId={{thread.PostId}}">Untrack Thread</a>
                <a ng-hide="thread.LastPostUrl == null" target="_blank" href="{{thread.LastPostUrl}}">View last post</a>
            </div>
            <h3>{{thread.UserTitle}}</h3>
            <p ng-show="thread.LastPosterShortname == null">Last Poster: <span class="error">Not Found</span> (<a target="_blank" href="http://tblrthreadtracker.tumblr.com/post/81543993047/i-keep-getting-a-last-poster-not-found-error-in" id="notFoundExplanation" title="Tumblr's web service occasionally claims a thread is not found when it actually exists. It will reappear eventually; until then, this thread is being displayed as your turn regardless of its actual state.">Why am I seeing this?</a>)</p>
            <p ng-show="thread.LastPosterShortname != null">Last Poster: <a href="{{thread.LastPostUrl}}">{{thread.LastPosterShortname}}</a> ({{thread.LastPostDate * 1000 | date:'medium'}})</p>
        </div>
        <span id="loading" ng-show="loading">Loading... <img src="~/Images/ajax-loader.gif?v=41214540" alt="" /></span>
    </div>
    @Html.Partial("_FooterPartial")
</div>
</div>
    
    
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js" type="text/javascript"></script>
<script src="~/Scripts/ui-bootstrap-custom-0.10.0.js" type="text/javascript"></script>
<script src="~/Scripts/ui-bootstrap-tpls-0.10.0.js" type="text/javascript"></script>
<script src="~/Scripts/app.js" type="text/javascript"></script>
<script src="~/Scripts/maincontroller.js?v=532014" type="text/javascript"></script>
</body>
</html>