/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/****COLOR SCHEME *****/
/*91b7db*/
/*7E98B3*/
/*6A8FB3*/
/*2F4B66*/
/*2E3D4D*/
/*0F2942*/


html { height: 100%;}
body { background: #2f4b66;height: 100%;}
#wrapper { width: 960px;margin: auto;position: relative; min-height: 100%;background: #fff;box-shadow: 0px 0px 20px #102a43;}
#sidebar { position: absolute;top: 0;bottom: 0;background: #7e98b3;padding: 0; }

span.error { color: #f00;}

.AccountForm label.checkbox { display: inline;}
.AccountForm ol, .AccountForm ul { list-style: none;}
.AccountForm label { width: 150px;}
.field-validation-error, .validation-summary-errors { color: #f00;font-size: 12px;}


#logo { width: 200px;height: 200px;margin: auto;text-indent: -999999px; background: url("../Images/ttt_logo.png?v=031614815")}

#sidebar ul { margin: 0;padding: 0;list-style: none;width: 100%;border-top: 1px solid #2f4b66;}
#sidebar li { height: 50px;margin: 0;padding: 0;}
#sidebar ul a { color: #fff;font-weight: bold;text-decoration: none;display: block;line-height: 50px;padding-left: 30px;border-bottom: 1px solid #2F4B66; text-shadow: 1px 1px 2px #2f4b66;}
#sidebar ul li.selected a { background: #2F4B66;}
#sidebar ul li a:hover { background: #2E3D4D}

#sidebar form { color: #0F2942;font-size: 12px;text-align: center;padding: 10px;margin: 10px; background: #fff;}
#sidebar form input[type="text"] { width: 100px;}
#sidebar .blogControl { color: #0F2942;display: block;margin: 30px;text-align: center;}


header { background: #eee;margin-left: -30px;padding: 30px;}
#account { float: right;}
header a { color: #375d81;}
#logoutForm, #account li { display: inline;}
#logoutForm a, #registerLink, #loginLink, .controlButton {border: 1px solid #7e98b3; display: inline-block;text-decoration: none;background: #7e98b3;padding: 5px;border-radius: 5px;color: #fff;padding: 5px 10px; text-shadow: 1px 1px 2px #2f4b66;}
.controlButton.selected { background: #91b7db;border: 1px solid #7e98b3; }
.controlButton:hover, #registerLink:hover, #loginLink:hover, #logoutForm a:hover {color: #fff;text-decoration: none;background: #91b7db;border: 1px solid #7e98b3;}

nav { background: #7e98b3;height: 50px;padding: 10px;}
nav select { border-radius: 5px;padding: 5px;}
nav label { color: #fff;}
nav a { color: #375d81; }
#search { float: right;}
#search input { border-radius: 5px;}

#content { position: relative;}
#content #loading { text-align: center;}
#content #threads { padding: 50px;}
#content .thread { background: #eee;height: 100px;margin-bottom: 30px; padding: 20px;border-radius: 20px; text-shadow: 2px 2px 2px #fff;}
#content .thread h3, #content .thread p { margin: 5px;}
#content .thread .links { float: right;}
#content .thread .links a { display: block;}
.thread #notFoundExplanation { cursor: pointer;}
.thread #notFoundExplanation:hover { text-decoration: none;}

#footer {text-align: center; height: 30px;position: fixed;background: #eee;left: 0;right: 0; bottom: 0;border-top: 3px solid #2E3D4D;width: 960px;margin: auto;line-height: 30px; }

.newThreadModal label { width: 100px;}
.newThreadModal select, .newThreadModal input[type="text"] {width: 150px; padding: 5px;border-radius: 5px; border: 1px solid #7e98b3}
.newThreadModal a.btn { float: right;}
.postIdAddendum { display: block;padding-left: 100px;font-style: italic;font-size: 12px;}
.newThreadModal input.ng-invalid.ng-dirty { border: 1px solid #f77;}
.newThreadModal .error { color: #f00;}






/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}