<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
	<!-- IP addresses which can view the site when the MaintenanceMode app setting is turned on -->
	<add key="AllowedMaintenanceIPs" value="" />
	<!-- API key used to retrieve information from Tumblr -->
	<add key="TumblrAPIKey" value="API_KEY_HERE" />
	<!-- SendGrid API username -->
	<add key="EmailUsername" value="SENDGRID_USERNAME" />
	<!-- SendGrid API password -->
	<add key="EmailPassword" value="SENDGRID_PASSWORD" />
	<!-- SendGrid API key -->
	<add key="SendGridAPIKey" value="SENDGRID_API_KEY" />
</appSettings>