<connectionStrings>
	<add name="DefaultConnection" connectionString="Data Source=PC\SQLExpress;Database=RPThreadTracker;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient" />
	<add name="RpThreadTrackerEntities" connectionString="metadata=res://*/Infrastructure.BlogModel.csdl|res://*/Infrastructure.BlogModel.ssdl|res://*/Infrastructure.BlogModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC\SQLEXPRESS;initial catalog=RPThreadTracker;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>