<header-nav></header-nav>
<side-nav></side-nav>


<section class="central-container container">
    <div id="content">

        <!-- ================================================== -->
        <section class="row-fluid">
            <h2>Contact me!</h2>

            <p>Have a suggestion about the site? Encountered a bug? Want to just say hi or give me a hug? Please feel free to send me a message any time at the following locations:</p>
            <ul>
                <li><strong>Tumblr:</strong> Send ask or fanmail to <a target="_blank" analytics-on="click" analytics-category="Contact Page" analytics-event="Navigate to News Blog" href="http://tblrthreadtracker.tumblr.com/ask">tblrthreadtracker.tumblr.com</a></li>
                <li><strong>Email:</strong> Send messages to <a analytics-on="click" analytics-category="Contact Page" analytics-event="Contact via Email" href="mailto:tumblrthreadtracker@gmail.com">tumblrthreadtracker@gmail.com</a></li>
                <li><strong>Twitter:</strong> Follow me at <a target="_blank" analytics-on="click" analytics-category="Contact Page" analytics-event="Navigate to Twitter" href="http://www.twitter.com/blackjackkent">@blackjackkent</a></li>
            </ul>
        </section>
        <!-- / Supported browsers -->
        <!-- Page footer
            ================================================== -->
        <footer></footer>
        <!-- / Page footer -->


    </div>
</section>