<header-nav public-view="{{vm.publicView}}" page-id="{{vm.pageId}}" user="vm.user"></header-nav>
<side-nav public-view="{{vm.publicView}}" page-id="{{vm.pageId}}"></side-nav>

<section class="central-container container">
	<div id="content">
		<section class="row-fluid">
			<h2>Contact me!</h2>

			<p>Have a suggestion about the site? Encountered a bug? Want to just say hi or give me a hug? Please feel free to send me a message any time at the following locations:</p>
			<ul>
				<li>
					<strong>Tumblr:</strong> Send asks to
					<a target="_blank" href="http://tblrthreadtracker.tumblr.com/ask">
						tblrthreadtracker.tumblr.com
					</a>
					(Sending messages off anon will generally get a faster response.)
				</li>
				<li>
					<strong>Email:</strong> Send messages to
					<a href="mailto:rpthreadtracker@gmail.com">
						rpthreadtracker@gmail.com
					</a>
				</li>
			</ul>
		</section>
		<footer user="vm.user"></footer>
	</div>
</section>