<header-nav public-view="{{vm.publicView}}" page-id="{{vm.pageId}}" user="vm.user"></header-nav>
<side-nav public-view="{{vm.publicView}}" page-id="{{vm.pageId}}"></side-nav>

<section class="central-container container">
    <div id="content">
        <section class="row-fluid">
            <form class="form-horizontal" name="vm.editBlogForm" ng-submit="vm.submitBlog()" novalidate>
                <fieldset>
                    <legend>Edit Blog Shortname</legend>
                    <p>Update your blog's shortname below.</p><br/>

                    <div class="control-group">
                        <label class="control-label">Current blog shortname:</label>
                        <div class="controls">
                            {{vm.currentBlogShortname}}
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="newBlogShortname">New blog shortname:</label>
                        <div class="controls">
                            <input type="text" id="Text1" name="newBlogShortname" required ng-model="vm.blogToEdit.BlogShortname" ng-pattern="vm.shortnameRegex" placeholder="Shortname">
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="btn">Edit Blog</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </section>
        <footer user="vm.user"></footer>
    </div>
</section>