<header-nav></header-nav>
<side-nav></side-nav>


<section class="central-container container">
    <div id="content">

        <!-- ================================================== -->
        <section class="row-fluid">
            <form class="form-horizontal" name="editBlogForm" ng-submit="submitBlog()">
                <fieldset>
                    <legend>Edit Blog Shortname</legend>
                    <p>Update your blog's shortname below. (NOTE: This will also update the blog shortname for all tracked threads currently associated with {{currentBlogShortname}})</p><br />

                    <p class="alert alert-error" ng-show="editBlogForm.newBlogShortname.$error.required && editBlogForm.newBlogShortname.$dirty">You must enter a blog shortname.</p>

                    <div class="control-group">
                        <label class="control-label">Current blog shortname:</label>
                        <div class="controls">
                            {{currentBlogShortname}}
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="newBlogShortname">New blog shortname:</label>
                        <div class="controls">
                            <input type="text" id="Text1" name="newBlogShortname" required ng-model="blogToEdit.BlogShortname" placeholder="Shortname">
                        </div>
                    </div>
                    <div class="control-group">
                        <div class='controls'>
                            <button type="submit" class="btn">Edit Blog</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </section>

        <!-- / Supported browsers -->
        <!-- Page footer
            ================================================== -->
        <footer></footer>
        <!-- / Page footer -->


    </div>
</section>