    <section id="signin-container">
        <a href="#" class="header">
            <span>
               Forgot your password?
            </span>
        </a>
        <form method="get" id="forgot-password-form" accept-charset="utf-8" ng-submit="submitForgotPassword()">
            <p>Enter your username (NOT your email address) below and we will email you a replacement password.</p>
            <span ng-show="error" class="error-message">{{error}}</span>
            <fieldset>
                <div class="fields">
                    <input type="text" name="username" ng-model="username" placeholder="Username" id="id_username" tabindex="1">
                </div>

                <button type="submit" class="btn btn-primary btn-block" tabindex="4">Sign In</button>
            </fieldset>
        </form>
    </section>