<header-nav></header-nav>
<side-nav></side-nav>

<section class="central-container container">
    <div id="content">
        <section class="row-fluid">
            <h2>Help/FAQ</h2>
            <h3 id="howtovid">How to use the thread tracker:</h3>
            <iframe width="560" height="315" src="//www.youtube.com/embed/xi8lf3fr08A" frameborder="0" allowfullscreen></iframe>
            <hr />
            <h3 id="plannedupdates">Planned Updates and Known Bugs</h3>
            <p>A list of planned improvements and fixes for the site can be found <a href="https://www.pivotaltracker.com/n/projects/1230514">here</a>. This list is being regularly updated.</p>
            <hr/>
            <h3>Got a question or issue?</h3>
            <p>Send me an ask on the tracker news blog at <a href="http://tblrthreadtracker.tumblr.com">http://tblrthreadtracker.tumblr.com</a>.</p>
        </section>
        <footer></footer>
    </div>
</section>