<header-nav></header-nav>
<side-nav></side-nav>


<section class="container">
    <div id="content">

        <!-- ================================================== -->
        <section class="row-fluid">
            <h2>Help/FAQ</h2>
            <p><a href="#howtovid">How To Use the Tracker</a> &bull; <a href="#plannedupdates">Planned Updates and Known Bugs</a> &bull; <a href="#faq">Frequently Asked Questions</a></p>
            <h3 id="howtovid">How to use the thread tracker:</h3>
            <iframe width="560" height="315" src="//www.youtube.com/embed/7tytkoJcWLM" frameborder="0" allowfullscreen></iframe>
            <hr />
            <h3 id="plannedupdates">Planned Updates and Known Bugs</h3>
            <ul>
                <li>Mobile accessibility</li>
                <li>Placeholder tracker items for planned starters/threads that don't exist yet</li>
                <li>Notification of threads newly updated since last visit.</li>
                <li>Subscription options (email notifications when a thread is updated)</li>
                <li>Allow login with email as well as username</li>
            </ul>
            <hr />
            <h3 id="faq">Frequently Asked Questions</h3>
            <ul>
                <li class="faqQuestion"><strong>Why do I get a "Last Poster Not Found" error message on some of my threads?</strong>
                    <p>Please see <a href="http://tblrthreadtracker.tumblr.com/post/84787503106/fix-in-place-for-not-found-error-please-read">this article on the tracker news blog</a> for more information.</p>
                </li>
                <li class="faqQuestion"><strong>Why am I getting an error when logging in with my email and password?</strong>
                    <p>Currently you must log in using the username you signed up with, not your email. A fix is forthcoming to allow login with email as well.</p>
                </li>
            </ul>
        </section>
        <!-- / Supported browsers -->
		
        <!-- Page footer
            ================================================== -->
        <footer></footer>
        <!-- / Page footer -->
        
                
    </div>
</section>