<header-nav></header-nav>
<side-nav></side-nav>


<section class="central-container container">
    <div id="content">

        <!-- ================================================== -->
        <section class="row-fluid">
            <h3>Manage Your Account</h3>
            <form class="form-horizontal" name="changePasswordForm" ng-submit="changePassword()">
                <fieldset>
                    <legend>Change Your Password</legend>

                    <p class="alert alert-error" ng-show="changePasswordForm.oldPassword.$error.required && changePasswordForm.oldPassword.$dirty">You must enter your current password.</p>
                    <p class="alert alert-error" ng-show="changePasswordForm.newPassword.$error.required && changePasswordForm.newPassword.$dirty">You must enter your new password.</p>
                    <p class="alert alert-error" ng-show="changePasswordForm.confirmNewPassword.$error.required && changePasswordForm.confirmNewPassword.$dirty">You must confirm your new password.</p>
                    <p class="alert alert-error" ng-show="changePasswordForm.confirmNewPassword.$error.match && changePasswordForm.newPassword.$dirty && changePasswordForm.confirmNewPassword.$dirty">
                        Your new passwords must match.
                    </p>
                    <p class="alert alert-error" ng-show="genericError">{{genericError}}</p>

                    <div class="control-group">
                        <label class="control-label" for="oldPassword">Current Password:</label>
                        <div class="controls">
                            <input type="password" id="old-password" name="oldPassword" required ng-model="oldPassword" placeholder="Current Password">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="newPassword">New Password:</label>
                        <div class="controls">
                            <input type="password" id="Text1" name="newPassword" required ng-model="newPassword" placeholder="New Password">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="confirmNewPassword">Confirm New Password:</label>
                        <div class="controls">
                            <input type="password" id="Text2" name="confirmNewPassword" required ng-model="confirmNewPassword" ng-match="newPassword" placeholder="Confirm New Password">
                        </div>
                    </div>
                    <div class="control-group">
                        <div class='controls'>
                            <button type="submit" class="btn">Change Password</button>
                        </div>
                    </div>

                    <p class="alert alert-success" ng-show="showSuccessMessage">Account updated.</p>
                </fieldset>
            </form>

        </section>

        <!-- / Supported browsers -->
        <!-- Page footer
            ================================================== -->
        <footer></footer>
        <!-- / Page footer -->


    </div>
</section>