<header>
    <h3><a href="/">RPThreadTracker</a> | {{publicTitleString}}</h3>
</header>
<div class="container">
    <section class="row-fluid">
        <h4>Thread Count: {{threadCount}}</h4>
        <table class="table table-striped thread-table">
            <tr>
                <th>Thread Title</th>
                <th>Last Poster</th>
                <th>Last Post Date</th>
                <th>Watched User</th>
                <th>&nbsp;</th>
                <th>Tags</th>
            </tr>
            <tr ng-repeat="thread in threads | isCurrentBlog:currentBlog | isCorrectTurn:pageId | containsFilteredTag:filteredTag |  orderBy:currentOrderBy:sortDescending">
                <td>
                    {{thread.UserTitle}}
                </td>
                <td>
                    <a ng-show="thread.LastPosterShortname != null" href="{{thread.LastPostUrl}}">{{thread.LastPosterShortname}}</a>
                    <span ng-show="thread.PostId == null">
                        <span class="error">Awaiting Starter</span>
                    </span>
                    <span ng-show="thread.LastPosterShortname == null && thread.PostId != null">
                        <span class="error">Not Found</span>
                        (<a target="_blank" href="http://tblrthreadtracker.tumblr.com/post/84787503106/fix-in-place-for-not-found-error-please-read" id="notFoundExplanation">Why am I seeing this?</a>)
                    </span>
                </td>
                <td>
                    <span ng-show="thread.LastPostDate != null">{{thread.LastPostDate * 1000 | date:'medium'}}</span>
                </td>
                <td>
                    <span ng-show="thread.WatchedShortname">{{thread.WatchedShortname}}</span>
                </td>
                <td>
                    <a ng-show="thread.LastPostUrl != null" target="_blank" href="{{thread.LastPostUrl}}">View</a>
                </td>
                <td>
                    <span ng-show="thread.ThreadTags"><span ng-repeat="tag in thread.ThreadTags">{{tag}}<br /></span></span>
                </td>
            </tr>
        </table>
    </section>
</div>