<section id="signin-container">
    <a href="" class="header">
        <span>
            Register for<br>
            <strong>RP Thread Tracker</strong>
        </span>
    </a>
    <form method="get" accept-charset="utf-8" name="registerForm" ng-submit="register()">
        <fieldset>
            <p class="alert alert-error" ng-show="genericError">{{genericError}}</p>
                    
            <p class="alert alert-error" ng-show="(registerForm.username.$dirty || registerForm.submitted) 
                                    && (!(registerForm.username.$focused) && registerForm.username.$error.required)">You must enter a valid username.</p>
            <p class="alert alert-error" ng-show="(registerForm.email.$dirty || registerForm.submitted) 
                                    && (registerForm.email.$error.email 
                                    && !(registerForm.email.$focused) || registerForm.email.$error.required)">You must enter a valid email.</p>
            <p class="alert alert-error" ng-show="(registerForm.Password.$dirty || registerForm.submitted) 
                                    && (!(registerForm.Password.$focused) && registerForm.Password.$error.required)">You must enter a password.</p>
            <p class="alert alert-error" ng-show="(registerForm.confirmPassword.$dirty || registerForm.submitted) 
                                    && (!(registerForm.confirmPassword.$focused) && registerForm.confirmPassword.$error.required)">You must confirm your password.</p>
            <p class="alert alert-error" ng-show="((registerForm.confirmPassword.$dirty && registerForm.Password.$dirty) || registerForm.submitted) 
                                    && (!(registerForm.confirmPassword.$focused) && !(registerForm.Password.$focused) && confirmPassword != Password)">Your passwords must match.</p>
            <div class="control-group">
                <div class="controls">
                    <input type="text" id="username" name="username" required ng-model="username" placeholder="Username" ng-focus>
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <input type="email" id="email" name="email" required ng-model="email" placeholder="Email" ng-focus>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <input type="password" id="Text1" name="Password" required ng-model="Password" placeholder="Password" ng-focus>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <input type="password" id="Text2" name="confirmPassword" required ng-model="confirmPassword" ng-match="Password" placeholder="Confirm Password" ng-focus>
                </div>
            </div>
            <div class="control-group">
                <div class='controls'>
                    <button type="submit" class="btn btn-primary btn-block" tabindex="4">Sign Up</button>
                </div>
            </div>
                    
            <p class="alert alert-success" ng-show="showSuccessMessage">Account updated.</p>
        </fieldset>
            
        <p>Already have an account? <a href="/login" title="">Login</a></p>
    </form>
</section>