<header-nav></header-nav>
<side-nav></side-nav>


<section class="central-container container">
    <div id="content">

        <!-- ================================================== -->
        <section class="row-fluid thread-filters">
            <div class="span8">
                <form class="form-inline">
                    <label class="inline-control-label">Order By: </label>
                    <select ng-model="currentOrderBy" name="currentOrderBy" ng-change="setCurrentOrderBy()">
                        <option value="UserTitle">Thread Title</option>
                        <option value="LastPostDate">Last Post Date</option>
                        <option value="LastPosterShortname">Last Poster</option>
                        <option value="WatchedShortname">Watched Shortname</option>
                    </select>
                    <select ng-model="sortDescending" ng-change="setSortDescending()" ng-options="o.v as o.n for o in [{ n: 'Descending', v: true }, { n: 'Ascending', v: false }]">
                    </select>
                </form>
            </div>

            <div class="span3">
                <select ng-model="currentBlog" ng-change="setCurrentBlog()">
                    <option value="">All Blogs</option>
                    <option ng-repeat="blog in blogs | orderBy:'BlogShortname'" ng-value="blog.BlogShortname">{{blog.BlogShortname}}</option>
                </select>
            </div>
            <div class="span1">
                <a href="#" class="btn refresh-link" analytics-on="click" analytics-category="Private Thread View" analytics-event="Refresh (Private)" ng-click="refreshThreads()">Refresh</a>
            </div>
        </section>
        <section class="row-fluid thread-filters">
            <div class="span3">
                <label class="inline-control-label">
                    Bulk Actions:
                </label>
                <select ng-model="bulkItemAction" name="bulkItemAction">
                    <option value="UntrackSelected">Untrack Selected</option>
                    <option ng-show="pageId != 'archived'" value="ArchiveSelected">Archive Selected</option>
                    <option ng-show="pageId == 'archived'" value="UnarchiveSelected">Unarchive Selected</option>
                </select>
                <a class="btn bulk-action-link" analytics-on="click" analytics-category="Private Thread View" analytics-event="Bulk Action" ng-click="bulkAction()">Go</a>
            </div>
            <div class="span9">
                <label class="inline-control-label">Filter By Tag:</label>
                <select ng-model="filteredTag" ng-change="setFilteredTag()">
                    <option value="">No Filter</option>
                    <option ng-repeat="tag in allTags track by $index | orderBy:'toString()'" ng-value="tag">{{tag}}</option>
                </select>
            </div>
        </section>
        <section ng-show="pageId != 'archived'" class="row-fluid alert alert-info public-link-alert">
            Share this view publically:
            <a href="http://www.rpthreadtracker.com/public/{{pageId}}?userId={{userId}}&currentBlog={{currentBlog}}&sortDescending={{sortDescending}}&currentOrderBy={{currentOrderBy}}&filteredTag={{filteredTag | escape}}">
                http://www.rpthreadtracker.com/public/{{pageId}}?userId={{userId}}&amp;currentBlog={{currentBlog}}&amp;sortDescending={{sortDescending}}&amp;currentOrderBy={{currentOrderBy}}&amp;filteredTag={{filteredTag | escape}}
            </a>
        </section>
        <section class="row-fluid">
            <p class="alert alert-success" ng-show="genericSuccess">{{genericSuccess}}</p>
        </section>
        <section class="row-fluid">
            <table class="table table-condensed table-striped thread-table">
                <tr>
                    <th>&nbsp;</th>
                    <th>Thread Title</th>
                    <th>Last Poster</th>
                    <th>Last Post Date</th>
                    <th>Watched Shortname</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                </tr>

                <tr>
                    <td ng-show="blogs.length == 0"colspan="6" class="alert public-link-alert">You have not yet added any blogs on which to track threads. Click "Manage Blogs" to get started.</td>
                    <td ng-show="blogs.length > 0 && threads.length == 0" colspan="6" class="alert alert-info public-link-alert">You are not yet tracking any threads. Click "Track New Thread" to track a thread from one of your current blogs.</td>
                </tr>
                <tr ng-repeat="thread in threads | isCurrentBlog:currentBlog | isCorrectTurn:pageId | containsFilteredTag:filteredTag | orderBy:currentOrderBy:sortDescending">
                    <td>
                        <input type="checkbox" value="{{thread.UserThreadId}}" ng-model="bulkItems[thread.UserThreadId]">
                    </td>
                    <td>{{thread.UserTitle}}</td>
                    <td>
                        <a ng-show="thread.LastPosterShortname != null" href="{{thread.LastPostUrl}}" target="_blank">{{thread.LastPosterShortname}}</a>
                        <span ng-show="thread.LastPosterShortname == null">
                            <span class="error">Not Found</span> 
                            (<a target="_blank" href="http://tblrthreadtracker.tumblr.com/post/84787503106/fix-in-place-for-not-found-error-please-read" id="notFoundExplanation">Why am I seeing this?</a>)
                        </span>
                    </td>
                    <td>
                        <span ng-show="thread.LastPostDate != null">{{thread.LastPostDate * 1000 | date:'medium'}}</span></td>
                    <td>
                        <span ng-show="thread.WatchedShortname != null">{{thread.WatchedShortname}}</span>
                    </td>
                    <td>
                        <a target="_blank" href="{{thread.LastPostUrl}}">View</a>
                    </td>
                    <td>
                        <a href="/edit-thread/{{thread.UserThreadId}}">Edit</a>
                    </td>
                    <td>
                        <a href="#" analytics-on="click" analytics-category="Private Thread View" analytics-event="Untrack Thread" ng-click="untrackThreads([thread.UserThreadId])">Untrack</a>
                    </td>
                    <td>
                        <a ng-show="pageId != 'archived'" href="#" analytics-on="click" analytics-category="Private Thread View" analytics-event="Archive Thread" ng-click="archiveThreads([thread.UserThreadId])">Archive</a>
                        <a ng-show="pageId == 'archived'" href="#" analytics-on="click" analytics-category="Private Thread View" analytics-event="Unarchive Thread" ng-click="unarchiveThreads([thread.UserThreadId])">Unarchive</a>
                    </td>
                </tr>
            </table>

        </section>
        <!-- / Supported browsers -->

        <!-- Page footer
        ================================================== -->
        <footer></footer>
        <!-- / Page footer -->


    </div>
</section>