<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Staging</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://rpthreadtracker-rpthreadtracker-staging.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>rpthreadtracker-rpthreadtracker-staging.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>RPThreadTracker__rpthreadtracker-staging</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$RPThreadTracker__rpthreadtracker-staging</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=***REMOVED***;Initial Catalog=rpthreadtracker;Persist Security Info=False;User ID=***REMOVED***;Password=***REMOVED***;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=***REMOVED***;Initial Catalog=rpthreadtracker;Persist Security Info=False;User ID=***REMOVED***;Password=***REMOVED***;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=PC\SQLExpress;Initial Catalog=RPThreadTracker;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=PC\SQLExpress;Database=RPThreadTracker;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="RpThreadTrackerEntities" Order="4" Enabled="False">
          <Destination Path="Data Source=***REMOVED***;Initial Catalog=rpthreadtracker;Persist Security Info=False;User ID=***REMOVED***;Password=***REMOVED***;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=***REMOVED***;Initial Catalog=rpthreadtracker;Persist Security Info=False;User ID=***REMOVED***;Password=***REMOVED***;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TumblrThreadTracker.Infrastructure.RpThreadTrackerEntities, TumblrThreadTracker" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Server=***REMOVED***;Initial Catalog=rpthreadtracker;Persist Security Info=False;User ID=***REMOVED***;Password=***REMOVED***;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)RpThreadTrackerEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Infrastructure.BlogModel.csdl|res://*/Infrastructure.BlogModel.ssdl|res://*/Infrastructure.BlogModel.msl;provider=System.Data.SqlClient;provider connection string="Server=***REMOVED***;Initial Catalog=rpthreadtracker;Persist Security Info=False;User ID=***REMOVED***;Password=***REMOVED***;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>