<div class="modal-header">
    <h3>Track a New Thread</h3>
</div>
<div class="modal-body">
    <form action="/Home/TrackThread" method="POST">
        <p><label for="userBlogId">Blog: </label><br />
        <select name="userBlogId">
            <option ng-repeat="blog in blogs" value="{{blog.UserBlogId}}">{{blog.BlogShortname}}</option>
        </select></p>
        <p><label for="userTitle">Thread Title: </label> <br /><input type="text" name="userTitle" value="" /> <em>(This can be whatever you like!)</em></p>
        <p><label for="postId">Post Id:</label> <input type="text" name="postId" value="" /></p>
        <input type="submit" class="btn btn-primary" value="Track" />
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </form>
</div>