<div class="newThreadModal">
    <div class="modal-header">
        <h3>Track a New Thread</h3>
        <p>Enter information for your thread below. Be sure to select the appropriate blog with which to associate this thread; the tracker will compare against the blog shortname
            to determine whether or not it is your turn on the thread. (As such, threads with more than two participants may not be suitable for this tracker.)</p>
    </div>
    <div class="modal-body">
        <form action="/Home/TrackThread" method="POST" name="newThreadForm" id="newThreadForm">
            <p><label for="userBlogId">Blog: </label>
                <select name="userBlogId">
                    <option ng-repeat="blog in blogs" value="{{blog.UserBlogId}}">{{blog.BlogShortname}}</option>
                </select></p>
            <p><label for="userTitle">Thread Title: </label> <input type="text" name="userTitle" value="" required ng-model="userTitle" /> <em>(This can be whatever you like!)</em></p>
            <p><label for="postId">Post Id:</label> <input type="text" name="postId" value="" ng-pattern="/^\-?\d+$/" required ng-model="postId" /> <em>This can be the ID of any post in the thread.</em><br />
                <span class="postIdAddendum">Found in the URL as follows: http://blogshortname.tumblr.com/post/<strong>123456</strong>/posttitle</span>
            </p>
            <p class="error" ng-show="newThreadForm.postId.$error.pattern">Enter only the post ID, not the full URL.</p>
            <p class="error" ng-show="newThreadForm.userTitle.$error.required && newThreadForm.userTitle.$dirty">You must enter a thread title for tracking purposes. (This does not have to match a title on the actual Tumblr thread.)</p>
            <a class="btn" ng-click="cancel()">Cancel</a>
            <input type="submit" class="btn btn-primary" value="Track" ng-disabled="newThreadForm.$invalid" />
            <div style="clear:both;"></div>
        </form>
    </div>
</div>