@model TumblrThreadTracker.Models.LoginModel
@{
    Layout = null;
}

@Html.Partial("_Head");
</div>
<div id="content" class="col-md-9 col-md-offset-3">
    <section class="AccountForm" id="loginForm">
        @TempData["Message"]
    </section>
</div>
@Html.Partial("_FooterPartial")
</div>
    
    
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js" type="text/javascript"></script>
<script src="~/Scripts/ui-bootstrap-custom-0.10.0.js" type="text/javascript"></script>
<script src="~/Scripts/ui-bootstrap-tpls-0.10.0.js" type="text/javascript"></script>
<script src="~/Scripts/app.js" type="text/javascript"></script>
<script src="~/Scripts/maincontroller.js" type="text/javascript"></script>
</body>
</html>