.widget-threads .content > span {
    text-align: right;
}

label { display: inline;line-height: 50%;}
label.inline-control-label { line-height: 30px;vertical-align: top;}

#recent-news .thread a:first-child { font-size: 12px;}