#left-panel-mobile { display: none;}
#main-navbar .logo {
    color: #fff;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    margin: 0 15px;
    padding: 0;
}

#main-navbar .logo:hover { text-decoration: none; }
.thread-table { min-width: 1080px !important }

@media (max-width: 767px) {
    body { padding: 40px 0;}
    section.container {
        margin: auto;
        width: 90%;
    }
    .row-fluid { margin: 0;}
    #left-panel { display: none;}
    #left-panel-mobile { display: block;width: 100%;height: 35px; background: #2b2b2b url("/application/images/left-menu-bg.png");margin-bottom: 20px; }
    #left-panel-mobile ul { height: 35px;width: 100%;margin: auto;}
    #left-panel-mobile li { float: left;list-style: none;width: 20%;text-align: center;line-height: 35px;}
    #left-panel-mobile li a:hover, #left-panel-mobile li.active a { color: #fff;text-decoration: none;}
    #dashboard-filter-selector { display: none; }
    .thread-filters label { display: block;}
    .thread-filters select { display: inline-block;width: 48%;}
    .thread-filters .refresh-link { float: right;margin-top: -40px;margin-right: 20px;}
    .thread-filters .bulk-action-link { display: inline-block;vertical-align: top;}
    .public-link-alert { display: none;}
}

.widget-threads .content { margin-left: 0; }

.widget-threads .content > span { text-align: right; }

.widget-threads .refresh-link { float: left; }

#dashboard-filter-selector {
    float: right;
    font-size: 12px;
    padding: 5px;
}

#forgot-password-form p { color: #aaa; }

.error-message { color: #f00; }

.success-message { color: #096; }

.loading-icon { line-height: 35px; }

.loading-icon img { width: 30px; }

label {
    display: inline;
    line-height: 50%;
}

label.inline-control-label {
    line-height: 30px;
    vertical-align: top;
}

#recent-news .thread a:first-child { font-size: 12px; }

.signin-page a.header {
    margin: 0 auto 10px;
    margin-top: 100px;
    width: auto;
}

.public-link-alert {
    font-size: 12px;
    text-align: center;
    word-wrap: break-word;
    margin: 10px auto;
    width: 90%;
}

.error-page header {
    height: auto;
    text-align: center;
}

.error-page header a { display: inline; }

.help-block.alert.alert-info {
    margin-top: 10px;
    width: 400px;
}


.help-block.alert.alert-info.inline {
    display: inline-block;
    margin-left: 10px;
    margin-top: -1px;
    vertical-align: top;
    width: 200px;
}

.blog-table td { border: none; }

#register-form .fields { border: none; }

.thread-filters .bulk-action-link { display: inline-block;vertical-align: top;}