<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Threads</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="wrapper" class="row" ng-app="TumblrThreadTrackerApp" ng-controller="mainController" ng-init="init()">
        <div id="sidebar" class="col-md-3">
            <a href="/"><div id="logo">
                Tumblr Thread Tracker
            </div></a>