<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Threads</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body  ng-app="TumblrThreadTrackerApp" ng-controller="mainController" ng-init="init()">
    
<div id="news-alert" class="alert alert-dismissable alert-info" ng-show="showAlert" ng-cloak>
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="showAlert = !showAlert">&times;</button>
    Latest Update: <a ng-cloak target="_blank" href="{{latestNews.LastPostUrl}}">{{latestNews.UserTitle}}</a> <span style="float: right"><a href="/Home/Help">Help/FAQ</a></span>
</div>
    <div id="wrapper" class="row">
        <div id="sidebar" class="col-md-3">
            <a href="/"><div id="logo">
                Tumblr Thread Tracker
            </div></a>